<div class="card shadow-sm m-1">
  <img class="card-img-top" src="../../../../assets/img/materials/osc.jpg">
  <div class="card-body">
    <span class="card-title text-info">
      <strong>
        {{ vm.material.name }}
      </strong>
    </span>
    <div class="row">
      <span class="col-12">{{ vm.material.brand }}</span>
      <span class="col-12">{{ vm.material.model }}</span>
    </div>
    <div class="text-right">
      <a class="btn btn-primary text-white" ui-sref="reservation({materialId: vm.material.id})">Reservar</a>
    </div>
  </div>
</div>