<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ action.text }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group" ng-if="action.type == 0">
            <label for="user-id" class="col-form-label">ID</label>
            <input
              type="number"
              class="form-control"
              id="user-id"
              ng-model="user.id"
            />
          </div>
          <div class="form-group">
            <label for="user-first-name" class="col-form-label"
              >Nombre completo</label
            >
            <input
              type="text"
              class="form-control"
              id="user-first-name"
              ng-model="user.name"
            />
          </div>
          <div class="form-group">
            <label for="user-email" class="col-form-label">Email</label>
            <input
              type="text"
              class="form-control"
              id="user-email"
              ng-model="user.email"
            />
          </div>
          <div class="form-group">
            <label for="user-password" class="col-form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="user-password"
              ng-model="user.password"
            />
          </div>
          <h6>Rol</h6>
          <div ng-repeat="role in roles">
            <button
              type="button"
              class="btn"
              ng-class="selectedRole === role ? 'btn-success' : ''"
              ng-click="handleRole(role)"
            >
              {{ role.type }}
            </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          ng-click="setType(0)"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          ng-click="setType(1)"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
