<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reservar material</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <span
            >{{ material.name }} {{ material.brand }} {{ material.model }}</span
          >
        </div>
        <form name="materialReservation">
          <div class="form-group">
            <label for="student-id" class="col-form-label">Matrícula</label>
            <input
              type="text"
              class="form-control"
              id="student-id"
              ng-model="reservation.student_id"
              ng-required="true"
            />
          </div>
          <div class="form-group">
            <label for="student-name" class="col-form-label"
              >Nombre completo</label
            >
            <input
              type="text"
              class="form-control"
              id="student-name"
              ng-model="reservation.student_name"
              ng-required="true"
            />
          </div>
          <div class="form-group">
            <label for="studentEmail" class="col-form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="studentEmail"
              ng-model="reservation.student_email"
              ng-required="true"
            />
          </div>
          <div class="row justify-content-center">
            <span>De {{ startsAt }} a {{ endsAt }} el {{ parsedDay }}</span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          ng-click="setType(0)"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          ng-click="setType(1)"
          ng-disabled="materialReservation.$invalid"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
