<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-around">
          <button class="btn btn-primary" ng-click="setType(1)" data-dismiss="modal">{{ action1 }}</button>
          <button class="btn btn-primary" ng-click="setType(2)" data-dismiss="modal">{{ action2 }}</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="setType(0)">{{ closeLabel }}</button>
      </div>
    </div>
  </div>
</div>