<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <a class="navbar-brand">EIAD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" ui-sref="home" ui-sref-active="active">INICIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="labs" ui-sref-active="active">LABORATORIOS</a>
      </li>
    </ul>
  </div>
</nav>