<div class="card shadow-sm m-1">
  <img class="card-img-top" src="../../../../assets/img/lab1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">
      {{ vm.lab.name }}
    </h5>
    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos architecto illo ipsa tenetur deleniti iure officiis dolores
      adipisci tempora error quibusdam aliquam, exercitationem non iste similique facere molestiae aut pariatur!
    </p>
    <a class="btn btn-primary text-white" ui-sref="materials({labId: vm.lab.id })">Ver materiales</a>
  </div>
</div>