$lab1: url('./assets/img/lab1.jpg');
$lab2: url('./assets/img/lab2.jpg');
$lab3: url('./assets/img/lab3.jpg');

$font-primary: 'Raleway', sans-serif;
$font-accent: 'Poppins', sans-serif;

html,
body,
ui-view {
  height: 100% !important;
  min-height: 100% !important;
  width: 100% !important;
  min-width: 100% !important;
}

body {
  font-family: $font-primary;
}

a,
button,
.btn {
  font-family: $font-accent;
  font-weight: 700;
}

.fc-today {
  background-color: white;
}

.bg-lab {
  left: 0;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  z-index: -5;
  &.opacity-cover {
    background-color: black;
    opacity: 0.2;
    z-index: -4;
  }
}

.lab-1 {
  background-image: $lab1;
}
.lab-2 {
  background-image: $lab2;
}
.lab-3 {
  background-image: $lab3;
}

// xSmall devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
  
  // Make image full screen
  .inner-img{
  min-height: 100vh;
    object-fit: cover;
  }

  // Text in reservation not overflow
  .fc-day-header {
    font-size: .74em;
  }

  // Align text on mobile reservation
  .ng-binding {
    text-align: center;
  }

  // Animation for the floor selector
  @keyframes scaleFromZ {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(100%);
    }
  }
  .floor-selector, .lab-selector {  
    animation: 0.2s ease-out 0s 1 scaleFromZ;
  }

  // Button align
  eiad-lab-card a {
    width:100%;
  }

  // Login size
  #signInCard {
    width: 85% !important;
  }

  #sidenav {
    min-width: 2.2em;
  }

  .btn-outline-danger {
    width: 98%;
    font-size: .7em;
  }
}

// Tablet devices
@media (min-width: 768px) { 
  #signInCard {
    width: 50% !important;
  }
}

// Laptop devices
@media (min-width: 1024px) { 
  #signInCard {
    width: 25% !important;
  }
}