<div class="h-100">
  <div class="row justify-content-between p-3">
    <div><h4>Lista de edificios</h4></div>
    <div>
      <button
        type="button"
        class="btn btn-primary"
        ng-click="vm.openAddEditBuildingModal(0, {})"
      >
        Añadir
      </button>
    </div>
  </div>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="building in vm.buildings">
        <td scope="col">{{ building.id }}</td>
        <td>{{ building.name }}</td>
        <td class="row justify-content-around">
          <button
            type="button"
            class="btn btn-secondary"
            ng-click="vm.openAddEditBuildingModal(1, building)"
          >
            Editar
          </button>
          <button
            type="button"
            class="btn btn-danger"
            ng-click="vm.openConfirmDeleteModal(building)"
          >
            Borrar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
